pug/exhibition.pug
<!DOCTYPE html>
html(lang="zh")
	title David Zwirner Chinese Website
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- header
	header.display-flex.w-bg
		a.left.logo(href="index.html") David Zwirner 線光艦
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- section big image
	section.big-image
		img(src="img/slides/4.jpg", alt="Slide 1")



	
	//- section exhibition
	section#exhibition
		.content
			.row
				.col-md-10.col-sm-12.col-xs-12.left-side
					.share
						.share-button
						.social-button.facebook
						.social-button.twitter
						.social-button.weibo

					h2 Josef and Anni and Ruth and Ray
					.columns
						p David Zwirner is pleased to present Josef and Anni and Ruth and Ray as the inaugural exhibition at the gallery's 34 East 69th Street location. Featuring work by Josef Albers, Anni Albers, Ruth Asawa, and Ray Johnson—all of whom were at Black Mountain College in North Carolina in the late 1940s—this exhibition will explore both the aesthetic and personal dialogue between these artists during their Black Mountain years and beyond; and will include a number of works exchanged amongst the group, in addition to a selection of key compositions influenced by their time there.
						p Josef and Anni Albers arrived at Black Mountain College in 1933, both having studied and subsequently taught at the Bauhaus for nearly a decade. It was through the Alberses that the pedagogy of the famed German art school, which espoused ideals of radical experimentation and an open interchange of ideas, was imported and adapted in their new setting. As Asawa recalls, Josef Albers would open his Basic Design course by saying, "Open your eyes and see. My aim is to make you see more than you want to. I am here to destroy all your prejudices. If you already have a style don't bring it with you. It will only be in the way"—in essence paraphrasing the aesthetic philosophy that came to define Black Mountain College as a progressive and avant-garde institution in those years. Johnson arrived as student in 1945, and Asawa subsequently in 1946—both quickly availing themselves of the Alberses's guidance, which was particularly unexpected in the case of Johnson, whose nontraditional approach contrasted with the older artists' formal rigor.

				.col-md-2.col-sm-12.col-xs-12.right-side
					.exhibition-detail
						.list
							.title Location
							.detail 34 East 69th Street New York
						.list
							.title Dates
							.detail September 20 - October 28, 2017
						.list
							.title Extended Hours
							.detail Thursday, October 26, 5 – 9 PM
						.list
							.title Special Event
							.detail Guided tour with Nicholas Fox Weber, Executive Director, The Josef and Anni Albers Foundation: Saturday, October 28, 11 AM
						.list
							.title Artists
							.detail Anni Albers  Josef Albers Ruth Asawa  Ray Johnson




	//- section slider
	section#slider.zwirner-slideshow.no-content
		include ../includes/slider-exhibition.pug




	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/anime.min.js")
	script(src="js/main.js")
	script(src="js/slideshow.js")

exhibition.html
<!DOCTYPE html>
<html lang="zh">
  <title>David Zwirner Chinese Website</title>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/flexboxgrid.css"/>
  <link rel="stylesheet" href="css/font.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="UTF-8"/>
  <header class="display-flex w-bg"><a class="left logo" href="index.html">David Zwirner 線光艦</a><a class="right en-version" href="https://davidzwirner.com" target="_blank">EN</a></header>
  <section class="big-image"><img src="img/slides/4.jpg" alt="Slide 1"/></section>
  <section id="exhibition">
    <div class="content">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-xs-12 left-side">
          <div class="share">
            <div class="share-button"></div>
            <div class="social-button facebook"></div>
            <div class="social-button twitter"></div>
            <div class="social-button weibo"></div>
          </div>
          <h2>Josef and Anni and Ruth and Ray</h2>
          <div class="columns">
            <p>David Zwirner is pleased to present Josef and Anni and Ruth and Ray as the inaugural exhibition at the gallery's 34 East 69th Street location. Featuring work by Josef Albers, Anni Albers, Ruth Asawa, and Ray Johnson—all of whom were at Black Mountain College in North Carolina in the late 1940s—this exhibition will explore both the aesthetic and personal dialogue between these artists during their Black Mountain years and beyond; and will include a number of works exchanged amongst the group, in addition to a selection of key compositions influenced by their time there.</p>
            <p>Josef and Anni Albers arrived at Black Mountain College in 1933, both having studied and subsequently taught at the Bauhaus for nearly a decade. It was through the Alberses that the pedagogy of the famed German art school, which espoused ideals of radical experimentation and an open interchange of ideas, was imported and adapted in their new setting. As Asawa recalls, Josef Albers would open his Basic Design course by saying, "Open your eyes and see. My aim is to make you see more than you want to. I am here to destroy all your prejudices. If you already have a style don't bring it with you. It will only be in the way"—in essence paraphrasing the aesthetic philosophy that came to define Black Mountain College as a progressive and avant-garde institution in those years. Johnson arrived as student in 1945, and Asawa subsequently in 1946—both quickly availing themselves of the Alberses's guidance, which was particularly unexpected in the case of Johnson, whose nontraditional approach contrasted with the older artists' formal rigor.</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 right-side">
          <div class="exhibition-detail">
            <div class="list">
              <div class="title">Location</div>
              <div class="detail">34 East 69th Street New York</div>
            </div>
            <div class="list">
              <div class="title">Dates</div>
              <div class="detail">September 20 - October 28, 2017</div>
            </div>
            <div class="list">
              <div class="title">Extended Hours</div>
              <div class="detail">Thursday, October 26, 5 – 9 PM</div>
            </div>
            <div class="list">
              <div class="title">Special Event</div>
              <div class="detail">Guided tour with Nicholas Fox Weber, Executive Director, The Josef and Anni Albers Foundation: Saturday, October 28, 11 AM</div>
            </div>
            <div class="list">
              <div class="title">Artists</div>
              <div class="detail">Anni Albers  Josef Albers Ruth Asawa  Ray Johnson</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="zwirner-slideshow no-content" id="slider">
    <div class="slides-wrapper">
      <div class="slide active"><img src="img/slides/3.jpg" alt="" title=""/></div>
      <div class="slide"><img src="img/slides/5.jpg" alt="" title=""/></div>
      <div class="slide"><img src="img/slides/6.jpg" alt="" title=""/></div>
    </div>
    <div class="controls-wrapper">
      <div class="control prev disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50">
          <g fill="none" fill-rule="evenodd">
            <path stroke="#979797" stroke-width="2" d="M30 15L20 25l10 10" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
      <div class="control next">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50">
          <g fill="none" fill-rule="evenodd">
            <path stroke="#979797" stroke-width="2" d="M20 15l10 10-10 10" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
    </div>
  </section>
  <section class="tab" id="footer">
    <ul class="inline-list tab-buttons-wrapper">
      <li><a class="active" href="" data-content="hong-kong">香港</a></li>
      <li><a href="" data-content="london">倫敦</a></li>
      <li><a href="" data-content="new-york">紐約</a></li>
    </ul>
    <div class="contents-wrapper tab-contents-wrapper">
      <div class="content hong-kong active">
        <h2>香港</h2>
        <h5>中環皇后大道中80號H Queen's大樓5-6層</h5>
        <h4 class="open-hours-hongkong">今日營業：11am-7pm</h4>
      </div>
      <div class="content london">
        <h2>倫敦</h2>
        <h5>葛拉夫頓街24號</h5>
        <h4 class="open-hours-london">今日營業：10am-6pm</h4>
      </div>
      <div class="content new-york tab mobile-tab">
        <div class="row tab-contents-wrapper">
          <div class="col-md-4 col-sm-4 col-xs-12 content active">
            <h2>紐約：19街</h2>
            <h5>西19街519、525及533號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：20街</h2>
            <h5>西20街537號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：69街</h2>
            <h5>東69街34號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
        </div>
        <div class="tab-buttons-wrapper"><a class="dot-button active" href="" data-content="hong-kong"></a><a class="dot-button" href="" data-content="london"></a><a class="dot-button" href="" data-content="new-york"></a></div>
      </div>
    </div>
    <ul class="inline-list social-list">
      <li><a class="wechat open-wechat" target="_blank">
          <div class="icon"></div>
          <div class="text">起制</div></a></li>
      <li><a class="weibo" href="http://weibo.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">借政</div></a></li>
      <li><a class="facebook" href="https://www.facebook.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">facebook</div></a></li>
      <li><a class="twitter" href="https://twitter.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">twitter</div></a></li>
      <li><a class="instagram" href="https://www.instagram.com/davidzwirner/" target="_blank">
          <div class="icon"></div>
          <div class="text">instagram</div></a></li>
      <li><a class="newsletter open-subscribe" target="_blank">
          <div class="icon"></div>
          <div class="text">起制内</div></a></li>
    </ul>
    <div class="copyright">
      <div class="text">版權所有©David Zwirner - 保留所有權利</div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
  <script src="js/get.js"></script>
  <script src="js/anime.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/slideshow.js"></script>
</html>
