pug/index.pug
<!DOCTYPE html>
html(lang="zh")
	title David Zwirner - Hong Kong Gallery
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- popups, wechat and subscribe
	include ../includes/popup.pug

	//- html to jade http://html2jade.vida.io/

	//- header background
	.header-bg

	//- header
	header.display-flex
		a.left.logo(href="index.html") David Zwirner 卓納畫廊
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- home section
	//- section#home.no-border.side-border-transparent.w-overlay
	section#home.no-border.side-border-transparent
		.overlay
		.content-wrapper
			.content.base-width
				p 卓納畫廊欣然宣佈香港空間將於2018年1月27日正式開幕，展出比利時藝術家   Michaël Borremans(米凱爾·博伊曼斯)的全新油畫作品。

				.buttons-ctr.center
					include ../includes/buttons.html



	//- about section
	section#about.w-line
		.content-wrapper
			.content.base-width
				p 卓納畫廊香港空間將由原上海LeoXuProjects創辦人許宇及前紐約佳士得副總裁、戰後及當代藝術部早間拍賣主管JenniferYum共同管理。
				
				figure
					img(src="img/hk-team.jpg", alt="Hong Kong Team")
					figcaption 由左至右：Jennifer Yum，David Zwirner，許宇（Leo Xu），摄影：Anna Bauer

				p 作為卓納畫廊在亞洲的首個空間，香港畫廊位於中環H   Queen’s大樓的五至六層。H Queen’s是香港的藝術和生活品味新地標，由思聯建築(CL3   Architects)的著名建築師林 偉而設計。卓納畫廊香港空間將繼續由曾負責畫廊紐約和倫敦空間的建築師Annabelle Selldorf   擔任室內設計師。佔地兩層的畫廊共計超過10,000平方呎，將包括四個大小可變 的無柱展覽場地，可配合各類藝術作品的展示。

				p 卓納畫廊的開幕展將帶來當今最重要的畫家之一——比利時藝術家 Michaël Borremans（米凱爾·博伊曼斯）的全新油畫作品。「Michaël Borremans：Fire from the Sun」將是藝術家在香港的首次個展，同時卓納圖書（David Zwirner Books）也將為該展出版精美圖錄，並邀請英國著名藝術評論家、策展人及藝術史學家Michael Bracewell撰寫文章。

				p
					a.link(href="/David_Zwirner_HK_Press_Release.pdf") 如欲了解更多資訊，請在此處下載新聞稿。

				.buttons-ctr.center
					include ../includes/buttons.html


	//- artist list section
	include ../includes/artist-list.pug

	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/header.js")
	script(src="js/main.js")

index.html
<!DOCTYPE html>
<html lang="zh">
  <title>David Zwirner - Hong Kong Gallery</title>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/flexboxgrid.css"/>
  <link rel="stylesheet" href="css/font.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="UTF-8"/>
  <div class="popup wechat">
    <div class="close-icon close-wechat anim-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
        <g fill="#000" fill-rule="evenodd">
          <path d="M22 .7L23.2 2 2 23.4.8 22z"></path>
          <path d="M.7 2L2 .8 23.4 22 22 23.2z"></path>
        </g>
      </svg>
    </div>
    <div class="content-wrapper">
      <div class="content base-width">
        <h3 class="anim-1">掃描二維碼關注畫廊微信公眾號</h3>
        <figure><img class="anim-2" src="img/dz-qrcode.jpg" alt="David Zwirner QR Code"/>
          <figcaption class="anim-3">WeChat ID: david_zwirner</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="popup subscribe">
    <div class="close-icon close-subscribe anim-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M22 .7L23.2 2 2 23.4.8 22z"></path>
          <path d="M.7 2L2 .8 23.4 22 22 23.2z"></path>
        </g>
      </svg>
    </div>
    <div class="content-wrapper">
      <div class="content base-width">
        <div class="anim-1">
          <h5 class="w-dash">郵件簡報</h5>
          <h3>訂閱</h3>
          <h5>追蹤畫廊最新展覽、新聞及各項活動</h5>
        </div><form class="subscribe-wrapper input-wrapper anim-2" action="https://davidzwirner.us9.list-manage.com/subscribe/post?u=647ec2a4e1d9c140e5e034fb7&amp;id=809c651f99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
	<div class="input-wrapper">
	  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="郵箱地址" required>
	  <div class="border-bottom"></div>
	  <div style="position: absolute; left: -5000px;" aria-hidden="true">
	    <input type="text" name="b_074a5f521f440ccfa7bacb4e3_8a4070226e" tabindex="-1" value="">
	  </div>
	</div>

  <div class="buttons-wrapper anim-3">
  	<input class="button secondary send" type="submit" value="提交" name="subscribe" id="mc-embedded-subscribe">
  	<div class="button secondary close close-subscribe">關閉</div>
  </div>
</form>
      </div>
    </div>
  </div>
  <div class="header-bg"></div>
  <header class="display-flex"><a class="left logo" href="index.html">David Zwirner 卓納畫廊</a><a class="right en-version" href="https://davidzwirner.com" target="_blank">EN</a></header>
  <section class="no-border side-border-transparent" id="home">
    <div class="overlay"></div>
    <div class="content-wrapper">
      <div class="content base-width">
        <p>卓納畫廊欣然宣佈香港空間將於2018年1月27日正式開幕，展出比利時藝術家   Michaël Borremans(米凱爾·博伊曼斯)的全新油畫作品。</p>
        <div class="buttons-ctr center"><!-- wechat -->
<a href="weixin://scanqrcode" class="button wechat open-wechat">
	<div class="text">關注</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="#000">
	      <path d="M21 17c-.6 0-1 .3-1 .7 0 .5.4.8 1 .8.4 0 .7-.4.7-.8 0-.5-.3-.8-.8-.8m-4.6.7c0-.4-.4-.8-.8-.8-.5 0-1 .2-1 .7 0 .4.4.8 1 .8.4 0 .8-.3.8-.8m8.6.8c-2 0-3.5.6-4.8 1.8-1.4 1.2-2 2.8-1.8 4.6l-2-.3h-.8c-.6.5-1.2 1-2 1.3l.4-1.6c0-.4 0-.6-.3-.8-2.2-1.5-3.2-3.8-2.5-6 .7-2.3 2.3-3.6 4.5-4.2 3-1 6.3 0 8 2.2.8 1 1.2 1.8 1.3 3"/>
	      <path d="M26.7 22c-.4 0-.7.4-.7.7 0 .4.3.7.6.7.4 0 .7-.2.7-.6 0-.4-.3-.7-.6-.7zm-4.4 1.4c.4 0 .7-.2.7-.6 0-.4-.3-.7-.7-.7-.4 0-.7.4-.7.8 0 .3.3.6.7.6zM29 30c-.5-.3-1-.7-1.7-.8-.5 0-1 .3-1.7.4-2 .2-3.5-.3-5-1.6-2.5-2.4-2-6 1-8 2.5-1.7 6.4-1 8.3 1.3 1.5 2 1.3 5-.7 6.6-.5.4-.7 1-.4 1.5v.5z"/>
	    </g>
		</svg>
	</div>
</a>

<!-- newsletter -->
<div class="button mail open-subscribe">
	<div class="text">訂閱</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="none" stroke="#000" stroke-linejoin="round">
	      <path d="M31 26.2c0 1-.8 1.8-2 1.8H13c-1 0-1.8-.8-1.8-1.8v-9.4c0-1 .7-1.8 2-1.8h16c1.3 0 2 .7 2 1.8v9.4z" stroke-linecap="round"/>
	      <path d="M30 16l-9 7-10-7"/>
	    </g>
		</svg>
	</div>
</div>
        </div>
      </div>
    </div>
  </section>
  <section class="w-line" id="about">
    <div class="content-wrapper">
      <div class="content base-width">
        <p>卓納畫廊香港空間將由原上海LeoXuProjects創辦人許宇及前紐約佳士得副總裁、戰後及當代藝術部早間拍賣主管JenniferYum共同管理。</p>
        <figure><img src="img/hk-team.jpg" alt="Hong Kong Team"/>
          <figcaption>由左至右：Jennifer Yum，David Zwirner，許宇（Leo Xu），摄影：Anna Bauer</figcaption>
        </figure>
        <p>作為卓納畫廊在亞洲的首個空間，香港畫廊位於中環H   Queen’s大樓的五至六層。H Queen’s是香港的藝術和生活品味新地標，由思聯建築(CL3   Architects)的著名建築師林 偉而設計。卓納畫廊香港空間將繼續由曾負責畫廊紐約和倫敦空間的建築師Annabelle Selldorf   擔任室內設計師。佔地兩層的畫廊共計超過10,000平方呎，將包括四個大小可變 的無柱展覽場地，可配合各類藝術作品的展示。</p>
        <p>卓納畫廊的開幕展將帶來當今最重要的畫家之一——比利時藝術家 Michaël Borremans（米凱爾·博伊曼斯）的全新油畫作品。「Michaël Borremans：Fire from the Sun」將是藝術家在香港的首次個展，同時卓納圖書（David Zwirner Books）也將為該展出版精美圖錄，並邀請英國著名藝術評論家、策展人及藝術史學家Michael Bracewell撰寫文章。</p>
        <p><a class="link" href="/David_Zwirner_HK_Press_Release.pdf">如欲了解更多資訊，請在此處下載新聞稿。</a></p>
        <div class="buttons-ctr center"><!-- wechat -->
<a href="weixin://scanqrcode" class="button wechat open-wechat">
	<div class="text">關注</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="#000">
	      <path d="M21 17c-.6 0-1 .3-1 .7 0 .5.4.8 1 .8.4 0 .7-.4.7-.8 0-.5-.3-.8-.8-.8m-4.6.7c0-.4-.4-.8-.8-.8-.5 0-1 .2-1 .7 0 .4.4.8 1 .8.4 0 .8-.3.8-.8m8.6.8c-2 0-3.5.6-4.8 1.8-1.4 1.2-2 2.8-1.8 4.6l-2-.3h-.8c-.6.5-1.2 1-2 1.3l.4-1.6c0-.4 0-.6-.3-.8-2.2-1.5-3.2-3.8-2.5-6 .7-2.3 2.3-3.6 4.5-4.2 3-1 6.3 0 8 2.2.8 1 1.2 1.8 1.3 3"/>
	      <path d="M26.7 22c-.4 0-.7.4-.7.7 0 .4.3.7.6.7.4 0 .7-.2.7-.6 0-.4-.3-.7-.6-.7zm-4.4 1.4c.4 0 .7-.2.7-.6 0-.4-.3-.7-.7-.7-.4 0-.7.4-.7.8 0 .3.3.6.7.6zM29 30c-.5-.3-1-.7-1.7-.8-.5 0-1 .3-1.7.4-2 .2-3.5-.3-5-1.6-2.5-2.4-2-6 1-8 2.5-1.7 6.4-1 8.3 1.3 1.5 2 1.3 5-.7 6.6-.5.4-.7 1-.4 1.5v.5z"/>
	    </g>
		</svg>
	</div>
</a>

<!-- newsletter -->
<div class="button mail open-subscribe">
	<div class="text">訂閱</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="none" stroke="#000" stroke-linejoin="round">
	      <path d="M31 26.2c0 1-.8 1.8-2 1.8H13c-1 0-1.8-.8-1.8-1.8v-9.4c0-1 .7-1.8 2-1.8h16c1.3 0 2 .7 2 1.8v9.4z" stroke-linecap="round"/>
	      <path d="M30 16l-9 7-10-7"/>
	    </g>
		</svg>
	</div>
</div>
        </div>
      </div>
    </div>
  </section>
  <section id="artist-list">
    <div class="content">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 left-side">
          <h3>藝術家</h3>
          <p>如需參考藝術家中文簡介，請關注畫廊微信公眾號，並在藝術家菜單中查閱。</p>
          <div class="buttons-ctr inline"><!-- wechat -->
<a href="weixin://scanqrcode" class="button wechat open-wechat">
	<div class="text">關注</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="#000">
	      <path d="M21 17c-.6 0-1 .3-1 .7 0 .5.4.8 1 .8.4 0 .7-.4.7-.8 0-.5-.3-.8-.8-.8m-4.6.7c0-.4-.4-.8-.8-.8-.5 0-1 .2-1 .7 0 .4.4.8 1 .8.4 0 .8-.3.8-.8m8.6.8c-2 0-3.5.6-4.8 1.8-1.4 1.2-2 2.8-1.8 4.6l-2-.3h-.8c-.6.5-1.2 1-2 1.3l.4-1.6c0-.4 0-.6-.3-.8-2.2-1.5-3.2-3.8-2.5-6 .7-2.3 2.3-3.6 4.5-4.2 3-1 6.3 0 8 2.2.8 1 1.2 1.8 1.3 3"/>
	      <path d="M26.7 22c-.4 0-.7.4-.7.7 0 .4.3.7.6.7.4 0 .7-.2.7-.6 0-.4-.3-.7-.6-.7zm-4.4 1.4c.4 0 .7-.2.7-.6 0-.4-.3-.7-.7-.7-.4 0-.7.4-.7.8 0 .3.3.6.7.6zM29 30c-.5-.3-1-.7-1.7-.8-.5 0-1 .3-1.7.4-2 .2-3.5-.3-5-1.6-2.5-2.4-2-6 1-8 2.5-1.7 6.4-1 8.3 1.3 1.5 2 1.3 5-.7 6.6-.5.4-.7 1-.4 1.5v.5z"/>
	    </g>
		</svg>
	</div>
</a>

<!-- newsletter -->
<div class="button mail open-subscribe">
	<div class="text">訂閱</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="none" stroke="#000" stroke-linejoin="round">
	      <path d="M31 26.2c0 1-.8 1.8-2 1.8H13c-1 0-1.8-.8-1.8-1.8v-9.4c0-1 .7-1.8 2-1.8h16c1.3 0 2 .7 2 1.8v9.4z" stroke-linecap="round"/>
	      <path d="M30 16l-9 7-10-7"/>
	    </g>
		</svg>
	</div>
</div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 right-side">
          <div class="row">
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/tomma-abts" target="_blank">托馬·阿布茨</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/anni-albers" target="_blank">安妮·阿爾伯斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/josef-albers" target="_blank">約瑟夫·阿爾伯斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/francis-alÿs" target="_blank">弗朗西斯·埃利斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/mamma-andersson" target="_blank">瑪瑪·安德森</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/ruth-asawa" target="_blank">魯斯·阿薩瓦</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/karla-black" target="_blank">卡拉·布萊克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/michaël-borremans" target="_blank">米凱爾·博伊曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/carol-bove" target="_blank">卡羅爾·波維</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/r-crumb" target="_blank">羅伯特· 克魯伯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/raoul-de-keyser" target="_blank">拉烏爾·德·凱澤</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/philip-lorca-dicorcia" target="_blank">菲利普-洛卡·迪克西亞</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/stan-douglas" target="_blank">斯坦·道格拉斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/marlene-dumas" target="_blank">馬琳·杜馬斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/marcel-dzama" target="_blank">馬塞爾·德塞瑪</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/william-eggleston" target="_blank">威廉·埃格爾斯頓</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/dan-flavin" target="_blank">丹·弗萊文</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/suzan-frecon" target="_blank">蘇珊·弗雷孔</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/isa-genzken" target="_blank">伊薩·根澤肯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/felix-gonzalez-torres" target="_blank">費利克斯岡薩雷斯-托雷斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/donald-judd" target="_blank">唐納德·賈德</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/kawara" target="_blank">河原溫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/toba-khedoori" target="_blank">托巴·基多里</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jeff-koons" target="_blank">傑夫·昆斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yayoi-kusama" target="_blank">草間彌生</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/sherrie-levine" target="_blank">謝麗·利文</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/kerry-james-marshall" target="_blank">克里·詹姆斯·馬歇爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/gordon-matta-clark" target="_blank">戈登·馬塔-克拉克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/john-mccracken" target="_blank">約翰·麥克拉肯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/giorgio-morandi" target="_blank">喬治·莫蘭迪</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/oscar-murillo" target="_blank">奧斯卡·穆里略</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/alice-neel" target="_blank">愛麗絲·尼爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jockum-nordström" target="_blank">喬克姆·諾德斯特龍</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/chris-ofili" target="_blank">克里斯·奧菲利</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/palermo" target="_blank">帕勒莫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/raymond-pettibon" target="_blank">雷蒙德·帕迪伯恩 </a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/sigmar-polke" target="_blank">西格瑪·波爾克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/neo-rauch" target="_blank">尼奧·勞赫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/ad-reinhardt" target="_blank">艾德·萊因哈特</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jason-rhoades" target="_blank">傑森·羅德斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/michael-riedel" target="_blank">邁克爾·里德爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/bridget-riley" target="_blank">布里奇特·賴利</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/thomas-ruff" target="_blank">托馬斯·魯夫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/fred-sandback" target="_blank">弗瑞德·桑德貝克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jan-schoonhoven" target="_blank">揚·斯庫霍溫</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/richard-serra" target="_blank">里查德·塞拉</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yutaka-sone" target="_blank">曾根裕</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/al-taylor" target="_blank">阿爾·泰勒</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/diana-thater" target="_blank">戴安娜·塔特爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/wolfgang-tillmans" target="_blank">沃夫岡·提爾曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/luc-tuymans" target="_blank">呂克·圖伊曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/james-welling" target="_blank">詹姆斯·威靈</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/doug-wheeler" target="_blank">道格·惠勒</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/christopher-williams" target="_blank">克里斯托弗·威廉姆斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jordan-wolfson" target="_blank">喬丹·沃爾夫森</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yun-hyong-keun" target="_blank">尹亨根</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/lisa-yuskavage" target="_blank">麗莎·約斯卡瓦吉</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tab" id="footer">
    <ul class="inline-list tab-buttons-wrapper">
      <li><a class="active" href="" data-content="hong-kong">香港</a></li>
      <li><a href="" data-content="london">倫敦</a></li>
      <li><a href="" data-content="new-york">紐約</a></li>
    </ul>
    <div class="contents-wrapper tab-contents-wrapper">
      <div class="content hong-kong active">
        <h2>香港</h2>
        <h5>中環皇后大道中80號H Queen's大樓5-6層</h5>
        <h4 class="open-hours-hongkong">今日營業：11am-7pm</h4>
      </div>
      <div class="content london">
        <h2>倫敦</h2>
        <h5>葛拉夫頓街24號</h5>
        <h4 class="open-hours-london">今日營業：10am-6pm</h4>
      </div>
      <div class="content new-york tab mobile-tab">
        <div class="row tab-contents-wrapper">
          <div class="col-md-4 col-sm-4 col-xs-12 content active">
            <h2>紐約：19街</h2>
            <h5>西19街519、525及533號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：20街</h2>
            <h5>西20街537號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：69街</h2>
            <h5>東69街34號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
        </div>
        <div class="tab-buttons-wrapper"><a class="dot-button active" href="" data-content="hong-kong"></a><a class="dot-button" href="" data-content="london"></a><a class="dot-button" href="" data-content="new-york"></a></div>
      </div>
    </div>
    <ul class="inline-list social-list">
      <li><a class="wechat open-wechat" target="_blank">
          <div class="icon"></div>
          <div class="text">起制</div></a></li>
      <li><a class="weibo" href="http://weibo.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">借政</div></a></li>
      <li><a class="facebook" href="https://www.facebook.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">facebook</div></a></li>
      <li><a class="twitter" href="https://twitter.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">twitter</div></a></li>
      <li><a class="instagram" href="https://www.instagram.com/davidzwirner/" target="_blank">
          <div class="icon"></div>
          <div class="text">instagram</div></a></li>
      <li><a class="newsletter open-subscribe" target="_blank">
          <div class="icon"></div>
          <div class="text">起制内</div></a></li>
    </ul>
    <div class="copyright">
      <div class="text">版權所有©David Zwirner - 保留所有權利</div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
  <script src="js/get.js"></script>
  <script src="js/header.js"></script>
  <script src="js/main.js"></script>
</html>
