landing.html
<!DOCTYPE html>
<html lang="zh">
  <title>David Zwirner Chinese Website</title>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/flexboxgrid.css"/>
  <link rel="stylesheet" href="css/font.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="UTF-8"/>
  <div class="popup wechat">
    <div class="close-icon close-wechat anim-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
        <g fill="#000" fill-rule="evenodd">
          <path d="M22 .7L23.2 2 2 23.4.8 22z"></path>
          <path d="M.7 2L2 .8 23.4 22 22 23.2z"></path>
        </g>
      </svg>
    </div>
    <div class="content-wrapper">
      <div class="content base-width">
        <h3 class="anim-1">掃描二維碼關注畫廊微信公眾號</h3>
        <figure><img class="anim-2" src="img/dz-qrcode.jpg" alt="David Zwirner QR Code"/>
          <figcaption class="anim-3">WeChat ID: david_zwirner</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="popup subscribe">
    <div class="close-icon close-subscribe anim-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
        <g fill="#FFF" fill-rule="evenodd">
          <path d="M22 .7L23.2 2 2 23.4.8 22z"></path>
          <path d="M.7 2L2 .8 23.4 22 22 23.2z"></path>
        </g>
      </svg>
    </div>
    <div class="content-wrapper">
      <div class="content base-width">
        <div class="anim-1">
          <h5 class="w-dash">郵件簡報</h5>
          <h3>訂閱</h3>
          <h5>追蹤畫廊最新展覽、新聞及各項活動</h5>
        </div><form class="subscribe-wrapper input-wrapper anim-2" action="https://davidzwirner.us9.list-manage.com/subscribe/post?u=647ec2a4e1d9c140e5e034fb7&amp;id=809c651f99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
	<div class="input-wrapper">
	  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="郵箱地址" required>
	  <div class="border-bottom"></div>
	  <div style="position: absolute; left: -5000px;" aria-hidden="true">
	    <input type="text" name="b_074a5f521f440ccfa7bacb4e3_8a4070226e" tabindex="-1" value="">
	  </div>
	</div>

  <div class="buttons-wrapper anim-3">
  	<input class="button secondary send" type="submit" value="提交" name="subscribe" id="mc-embedded-subscribe">
  	<div class="button secondary close close-subscribe">關閉</div>
  </div>
</form>
      </div>
    </div>
  </div>
  <header class="display-flex w-bg"><a class="left logo" href="index.html">David Zwirner 線光艦</a><a class="right en-version" href="https://davidzwirner.com" target="_blank">EN</a></header>
  <section class="zwirner-slideshow" id="slider">
    <div class="slides-wrapper">
      <div class="slide active"><img src="img/slides/4.jpg" alt="" title=""/></div>
      <div class="slide"><img src="img/slides/5.jpg" alt="" title=""/></div>
      <div class="slide"><img src="img/slides/6.jpg" alt="" title=""/></div>
    </div>
    <div class="content-wrapper"><a class="content active" href="exhibition.html">
        <h5>線光艦済光艦済 光艦済</h5>
        <h4>線光艦済光艦済 光艦済 4</h4>
        <h5>線光艦済光艦済 </h5></a><a class="content" href="exhibition.html">
        <h5>線光艦済光艦済 光艦済 </h5>
        <h4>線光艦済光艦済 光艦済 5</h4>
        <h5>線光艦済光艦済 </h5></a><a class="content" href="exhibition.html">
        <h5>線光艦済光艦済 光艦済 </h5>
        <h4>線光艦済光艦済 光艦済 6</h4>
        <h5>線光艦済光艦済 </h5></a>
    </div>
    <div class="controls-wrapper">
      <div class="control prev disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50">
          <g fill="none" fill-rule="evenodd">
            <path stroke="#979797" stroke-width="2" d="M30 15L20 25l10 10" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
      <div class="control next">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50">
          <g fill="none" fill-rule="evenodd">
            <path stroke="#979797" stroke-width="2" d="M20 15l10 10-10 10" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="content-wrapper">
      <div class="content base-width">
        <p>線光艦済人定連張講合終経投紹。間押改進必強出招徹田最要自。側祈謝日支起重商悪載東講出貸訪。言感伊旅京助必合前常突魔熱任部変。重覚極販効搭歳墜将水島上闘断。索観雪主点情州経必社氷健語活題。面層王示見印自委税図会朝回所係逆阜能結不。朝持用美慶特会一表隠勝秋地変哲知輩用働。真選電然位際死週氏新関宝権。</p>
        <figure><img src="img/img1.png" alt="Image 1"/></figure>
      </div>
    </div>
  </section>
  <section id="artist-list">
    <div class="content">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 left-side">
          <h3>藝術家</h3>
          <p>如需參考藝術家中文簡介，請關注畫廊微信公眾號，並在藝術家菜單中查閱。</p>
          <div class="buttons-ctr inline"><!-- wechat -->
<a href="weixin://scanqrcode" class="button wechat open-wechat">
	<div class="text">關注</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="#000">
	      <path d="M21 17c-.6 0-1 .3-1 .7 0 .5.4.8 1 .8.4 0 .7-.4.7-.8 0-.5-.3-.8-.8-.8m-4.6.7c0-.4-.4-.8-.8-.8-.5 0-1 .2-1 .7 0 .4.4.8 1 .8.4 0 .8-.3.8-.8m8.6.8c-2 0-3.5.6-4.8 1.8-1.4 1.2-2 2.8-1.8 4.6l-2-.3h-.8c-.6.5-1.2 1-2 1.3l.4-1.6c0-.4 0-.6-.3-.8-2.2-1.5-3.2-3.8-2.5-6 .7-2.3 2.3-3.6 4.5-4.2 3-1 6.3 0 8 2.2.8 1 1.2 1.8 1.3 3"/>
	      <path d="M26.7 22c-.4 0-.7.4-.7.7 0 .4.3.7.6.7.4 0 .7-.2.7-.6 0-.4-.3-.7-.6-.7zm-4.4 1.4c.4 0 .7-.2.7-.6 0-.4-.3-.7-.7-.7-.4 0-.7.4-.7.8 0 .3.3.6.7.6zM29 30c-.5-.3-1-.7-1.7-.8-.5 0-1 .3-1.7.4-2 .2-3.5-.3-5-1.6-2.5-2.4-2-6 1-8 2.5-1.7 6.4-1 8.3 1.3 1.5 2 1.3 5-.7 6.6-.5.4-.7 1-.4 1.5v.5z"/>
	    </g>
		</svg>
	</div>
</a>

<!-- newsletter -->
<div class="button mail open-subscribe">
	<div class="text">訂閱</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="none" stroke="#000" stroke-linejoin="round">
	      <path d="M31 26.2c0 1-.8 1.8-2 1.8H13c-1 0-1.8-.8-1.8-1.8v-9.4c0-1 .7-1.8 2-1.8h16c1.3 0 2 .7 2 1.8v9.4z" stroke-linecap="round"/>
	      <path d="M30 16l-9 7-10-7"/>
	    </g>
		</svg>
	</div>
</div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 right-side">
          <div class="row">
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/tomma-abts" target="_blank">托馬·阿布茨</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/anni-albers" target="_blank">安妮·阿爾伯斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/josef-albers" target="_blank">約瑟夫·阿爾伯斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/francis-alÿs" target="_blank">弗朗西斯·埃利斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/mamma-andersson" target="_blank">瑪瑪·安德森</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/ruth-asawa" target="_blank">魯斯·阿薩瓦</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/karla-black" target="_blank">卡拉·布萊克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/michaël-borremans" target="_blank">米凱爾·博伊曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/carol-bove" target="_blank">卡羅爾·波維</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/r-crumb" target="_blank">羅伯特· 克魯伯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/raoul-de-keyser" target="_blank">拉烏爾·德·凱澤</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/philip-lorca-dicorcia" target="_blank">菲利普-洛卡·迪克西亞</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/stan-douglas" target="_blank">斯坦·道格拉斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/marlene-dumas" target="_blank">馬琳·杜馬斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/marcel-dzama" target="_blank">馬塞爾·德塞瑪</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/william-eggleston" target="_blank">威廉·埃格爾斯頓</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/dan-flavin" target="_blank">丹·弗萊文</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/suzan-frecon" target="_blank">蘇珊·弗雷孔</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/isa-genzken" target="_blank">伊薩·根澤肯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/felix-gonzalez-torres" target="_blank">費利克斯岡薩雷斯-托雷斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/donald-judd" target="_blank">唐納德·賈德</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/kawara" target="_blank">河原溫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/toba-khedoori" target="_blank">托巴·基多里</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jeff-koons" target="_blank">傑夫·昆斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yayoi-kusama" target="_blank">草間彌生</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/sherrie-levine" target="_blank">謝麗·利文</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/kerry-james-marshall" target="_blank">克里·詹姆斯·馬歇爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/gordon-matta-clark" target="_blank">戈登·馬塔-克拉克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/john-mccracken" target="_blank">約翰·麥克拉肯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/giorgio-morandi" target="_blank">喬治·莫蘭迪</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/oscar-murillo" target="_blank">奧斯卡·穆里略</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/alice-neel" target="_blank">愛麗絲·尼爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jockum-nordström" target="_blank">喬克姆·諾德斯特龍</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/chris-ofili" target="_blank">克里斯·奧菲利</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/palermo" target="_blank">帕勒莫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/raymond-pettibon" target="_blank">雷蒙德·帕迪伯恩 </a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/sigmar-polke" target="_blank">西格瑪·波爾克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/neo-rauch" target="_blank">尼奧·勞赫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/ad-reinhardt" target="_blank">艾德·萊因哈特</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jason-rhoades" target="_blank">傑森·羅德斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/michael-riedel" target="_blank">邁克爾·里德爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/bridget-riley" target="_blank">布里奇特·賴利</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/thomas-ruff" target="_blank">托馬斯·魯夫</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/fred-sandback" target="_blank">弗瑞德·桑德貝克</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jan-schoonhoven" target="_blank">揚·斯庫霍溫</a></li>
              </ul>
            </div>
            <div class="col col-md-3 col-sm-3 col-xs-12">
              <ul class="artist-list">
                <li><a class="link" href="https://www.davidzwirner.com/artists/richard-serra" target="_blank">里查德·塞拉</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yutaka-sone" target="_blank">曾根裕</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/al-taylor" target="_blank">阿爾·泰勒</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/diana-thater" target="_blank">戴安娜·塔特爾</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/wolfgang-tillmans" target="_blank">沃夫岡·提爾曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/luc-tuymans" target="_blank">呂克·圖伊曼斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/james-welling" target="_blank">詹姆斯·威靈</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/doug-wheeler" target="_blank">道格·惠勒</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/christopher-williams" target="_blank">克里斯托弗·威廉姆斯</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/jordan-wolfson" target="_blank">喬丹·沃爾夫森</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/yun-hyong-keun" target="_blank">尹亨根</a></li>
                <li><a class="link" href="https://www.davidzwirner.com/artists/lisa-yuskavage" target="_blank">麗莎·約斯卡瓦吉</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="news">
    <div class="content">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 left-side">
          <h3>州経必社</h3>
          <p>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。舞犯風所依議能時現度入加討野断。</p>
          <div class="news-slides-controls">
            <div class="control prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 50 50">
                <g fill="none" fill-rule="evenodd">
                  <path stroke="#979797" stroke-width="2" d="M30 15L20 25l10 10" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
            </div>
            <div class="control next">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 50 50">
                <g fill="none" fill-rule="evenodd">
                  <path stroke="#979797" stroke-width="2" d="M20 15l10 10-10 10" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 news-slides-scroller">
          <div class="news-slides">
            <div class="slide">
              <figure><img src="img/news/1.png" alt="Image 1"/>
                <figcaption>
                  <h5>起制内</h5>
                  <h4>起制内現変借政肇</h4>
                  <h5>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。</h5>
                  <h5 class="date">起制内1現変2017</h5>
                </figcaption>
              </figure>
            </div>
            <div class="slide">
              <figure><img src="img/news/1.png" alt="Image 1"/>
                <figcaption>
                  <h5>起制内</h5>
                  <h4>起制内現変借政肇</h4>
                  <h5>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。</h5>
                  <h5 class="date">起制内1現変2017</h5>
                </figcaption>
              </figure>
            </div>
            <div class="slide">
              <figure><img src="img/news/1.png" alt="Image 1"/>
                <figcaption>
                  <h5>起制内</h5>
                  <h4>起制内現変借政肇</h4>
                  <h5>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。</h5>
                  <h5 class="date">起制内1現変2017</h5>
                </figcaption>
              </figure>
            </div>
            <div class="slide">
              <figure><img src="img/news/1.png" alt="Image 1"/>
                <figcaption>
                  <h5>起制内</h5>
                  <h4>起制内現変借政肇</h4>
                  <h5>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。</h5>
                  <h5 class="date">起制内1現変2017</h5>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="content base-width">
      <h3>線光艦済</h3>
      <h4>起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。</h4>
      <div class="row contact-info">
        <div class="col-md-6 col-sm-6 col-xs-12"><a href="">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(2 2)">
<path d="M20.5 19.3c1.2-1 1.2-3 0-4.2l-3.2-3c-1.2-1.3-3-1.3-4.2 0l-1.7 1.6c-1.5 1.6-1.7 4-.6 5.7 5 7.7 12 14.5 19.6 19.5 1.8 1.2 4 1 5.6-.5l1.7-1.8c1.2-1 1.2-3 0-4.2L34.5 29c-1.2-1-3-1-4.2 0l-1 1.2c-3.6-3-7-6.3-10-9.8l1.2-1z" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
            </div>
            <div class="text">起制内: 212—727—2070</div></a></div>
        <div class="col-md-6 col-sm-6 col-xs-12"><a href="mailto:hongkong@davidzwirner.com">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
<g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)">
<path d="M38.6 31.8c0 1.4-1.2 2.6-2.6 2.6H13.5c-1.5 0-2.5-1.2-2.5-2.6V18.6c0-1.6 1-2.6 2.6-2.6H36c1.5 0 2.6 1 2.6 2.6v13.2z" stroke-linecap="round"/>
<path d="M38 16.7l-12.7 10-13.6-10"/>
</g>
</svg>
            </div>
            <div class="text">hongkong@davidzwirner.com</div></a></div>
      </div>
    </div>
  </section>
  <section class="tab" id="footer">
    <ul class="inline-list tab-buttons-wrapper">
      <li><a class="active" href="" data-content="hong-kong">香港</a></li>
      <li><a href="" data-content="london">倫敦</a></li>
      <li><a href="" data-content="new-york">紐約</a></li>
    </ul>
    <div class="contents-wrapper tab-contents-wrapper">
      <div class="content hong-kong active">
        <h2>香港</h2>
        <h5>中環皇后大道中80號H Queen's大樓5-6層</h5>
        <h4 class="open-hours-hongkong">今日營業：11am-7pm</h4>
      </div>
      <div class="content london">
        <h2>倫敦</h2>
        <h5>葛拉夫頓街24號</h5>
        <h4 class="open-hours-london">今日營業：10am-6pm</h4>
      </div>
      <div class="content new-york tab mobile-tab">
        <div class="row tab-contents-wrapper">
          <div class="col-md-4 col-sm-4 col-xs-12 content active">
            <h2>紐約：19街</h2>
            <h5>西19街519、525及533號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：20街</h2>
            <h5>西20街537號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 content">
            <h2>紐約：69街</h2>
            <h5>東69街34號<br>紐約</h5>
            <h4 class="open-hours-newyork">今日營業：10am-6pm</h4>
          </div>
        </div>
        <div class="tab-buttons-wrapper"><a class="dot-button active" href="" data-content="hong-kong"></a><a class="dot-button" href="" data-content="london"></a><a class="dot-button" href="" data-content="new-york"></a></div>
      </div>
    </div>
    <ul class="inline-list social-list">
      <li><a class="wechat open-wechat" target="_blank">
          <div class="icon"></div>
          <div class="text">起制</div></a></li>
      <li><a class="weibo" href="http://weibo.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">借政</div></a></li>
      <li><a class="facebook" href="https://www.facebook.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">facebook</div></a></li>
      <li><a class="twitter" href="https://twitter.com/davidzwirner" target="_blank">
          <div class="icon"></div>
          <div class="text">twitter</div></a></li>
      <li><a class="instagram" href="https://www.instagram.com/davidzwirner/" target="_blank">
          <div class="icon"></div>
          <div class="text">instagram</div></a></li>
      <li><a class="newsletter open-subscribe" target="_blank">
          <div class="icon"></div>
          <div class="text">起制内</div></a></li>
    </ul>
    <div class="copyright">
      <div class="text">版權所有©David Zwirner - 保留所有權利</div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
  <script src="js/get.js"></script>
  <script src="js/anime.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/slideshow.js"></script>
</html>

pug/landing.pug
<!DOCTYPE html>
html(lang="zh")
	title David Zwirner Chinese Website
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- popup
	include ../includes/popup.pug

	//- header
	header.display-flex.w-bg
		a.left.logo(href="index.html") David Zwirner 線光艦
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- slider section
	section#slider.zwirner-slideshow
		include ../includes/slider.pug



	//- about section
	section#about
		.content-wrapper
			.content.base-width
				p 線光艦済人定連張講合終経投紹。間押改進必強出招徹田最要自。側祈謝日支起重商悪載東講出貸訪。言感伊旅京助必合前常突魔熱任部変。重覚極販効搭歳墜将水島上闘断。索観雪主点情州経必社氷健語活題。面層王示見印自委税図会朝回所係逆阜能結不。朝持用美慶特会一表隠勝秋地変哲知輩用働。真選電然位際死週氏新関宝権。

				figure
					img(src="img/img1.png", alt="Image 1")



	//- artist list section
	include ../includes/artist-list.pug




	//- news section
	section#news
		.content
			.row
				.col-md-3.col-sm-12.col-xs-12.left-side
					h3 州経必社
					p 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。舞犯風所依議能時現度入加討野断。

					.news-slides-controls
						.control.prev
							svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewbox="0 0 50 50")
								g(fill="none", fill-rule="evenodd")
									path(stroke="#979797", stroke-width="2", d="M30 15L20 25l10 10", stroke-linecap="round", stroke-linejoin="round")

						.control.next
							svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewbox="0 0 50 50")
								g(fill="none", fill-rule="evenodd")
									path(stroke="#979797", stroke-width="2", d="M20 15l10 10-10 10", stroke-linecap="round", stroke-linejoin="round")

				.col-md-9.col-sm-12.col-xs-12.news-slides-scroller
					.news-slides
						- var slidesArr = [0, 1, 2, 3]
						each slide in slidesArr
							.slide
								figure
									img(src="img/news/1.png", alt="Image 1")
									figcaption
										h5 起制内
										h4 起制内現変借政肇
										h5 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。
										h5.date 起制内1現変2017



	//- contact section
	section#contact
		.content.base-width
			h3 線光艦済
			h4 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。

			.row.contact-info
				.col-md-6.col-sm-6.col-xs-12
					a(href="")
						.icon
							<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
								<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(2 2)">
									<path d="M20.5 19.3c1.2-1 1.2-3 0-4.2l-3.2-3c-1.2-1.3-3-1.3-4.2 0l-1.7 1.6c-1.5 1.6-1.7 4-.6 5.7 5 7.7 12 14.5 19.6 19.5 1.8 1.2 4 1 5.6-.5l1.7-1.8c1.2-1 1.2-3 0-4.2L34.5 29c-1.2-1-3-1-4.2 0l-1 1.2c-3.6-3-7-6.3-10-9.8l1.2-1z" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
							</svg>
						.text 起制内: 212—727—2070

				.col-md-6.col-sm-6.col-xs-12
					a(href="mailto:hongkong@davidzwirner.com")
						.icon
							<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
								<g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)">
									<path d="M38.6 31.8c0 1.4-1.2 2.6-2.6 2.6H13.5c-1.5 0-2.5-1.2-2.5-2.6V18.6c0-1.6 1-2.6 2.6-2.6H36c1.5 0 2.6 1 2.6 2.6v13.2z" stroke-linecap="round"/>
									<path d="M38 16.7l-12.7 10-13.6-10"/>
								</g>
							</svg>
						.text hongkong@davidzwirner.com



	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/anime.min.js")
	script(src="js/main.js")
	script(src="js/slideshow.js")
